@import "tailwindcss";
@theme {
  --color-transparent-black: #01010fc9;
}
.min16pxMax24 {
  font-size: clamp(16px, 6vw, 20px);
}
/*
#000000
rgb(44, 43, 43)
background: url("/images/coding.gif");
  background-size: cover;
  background-position: center;
  */
body {
  background-color: #000000;
  min-height: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
.image-body {
  max-width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-size: cover;
  background-position: center;
}
.offSwicth {
  display: none;
}
.animate-in {
  animation: slide-in forwards 500ms ease-in;
}
.animate-out {
  animation: slide-out forwards 500ms ease-in;
}
@keyframes slide-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 100;
    display: block;
  }
}
@keyframes slide-out {
  from {
  }
  to {
    opacity: 0;
    display: none;
  }
}
.min25pxMax35px {
  font-size: clamp(25px, 5vw, 35px);
}
.min30pxMax45px {
  font-size: clamp(28px, 5vw, 45px);
}
.min18pxMax24 {
  font-size: clamp(18px, 4vw, 24px);
}
.min16pxMax19px {
  font-size: clamp(16px, 4vw, 19px);
}
.slideAnimation {
  animation: slide 20s linear infinite;
  width: max-content;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
html {
  scroll-behavior: smooth;
}
